_*/
.*/
core/connectivity/arbutus/*.sh
core/settings/endpoints/agents.json
config.yaml
*.policies
core/settings/.env
core/settings/security/.secrets
core/authentication/user_data/
core/authentication/uuids.json
*.log
*__pycache__*
