boto3>=1.34.71
fastapi>=0.110.1
PyJWT>=2.8.0
cryptography>=42.0.5
casbin>=1.36.0
pydantic>=2.6.4
python-dotenv>=1.0.1
uvicorn>=0.29.0
config>=0.5.1
treelib>=1.7.0
jinja2>=3.1.0
PyYAML>=6.0.1
setuptools>=68.2.0
