.tree ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.tree ul ul {
    margin-left: 20px;
    display: none;  /* Ensure nested lists are hidden initially */
}

.tree li {
    margin: 0;
    padding: 5px 10px;
    line-height: 20px;
    color: #369;
    font-weight: bold;
    cursor: pointer;
}

.tree li.folder:before {
    content: "▸";
    font-size: 10px;
    padding-right: 5px;
}

.tree li.folder.expand:before {
    content: "▾";
}

.tree li.file {
    cursor: default;
    font-weight: normal;
    color: black;
}

.folder {
    cursor: pointer;
}

.folder.expand > ul {
    display: block;  /* Show nested lists when expanded */
}
